<div id="diagram"></div>

<div id="statusFlag" style="position:absolute ; bottom:15px ; left:15px ; background:#5b7814 ; color:white ; padding:10px ; font-family: 'Arial Black' ; font-size:12px ;">
    ...</div>
<div id="carsFlag" style="position:absolute ; bottom:15px ; right:15px ; background:#801515 ; color:white ; padding:10px ; font-family: 'Arial Black' ; font-size:12px ;">
    ...</div>


<script type="text/javascript">
    $(document).ready(function(){
        init();

        loadStatus();

    });

    function loadStatus(){
        $.ajax({
            url : '/status',
            success: function(response){
                updateModel(response.nodes, response.links, response.cars);
                $('#statusFlag').html(response.status);
                $('#carsFlag').html(response.enqueuedCars);
                loadStatus();
//                        setTimeout(loadStatus, 1000);
            }
        });
    }

</script>